<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <meta charset="utf-8">
        <title>Biografia - Robson Freitas</title>
        <link rel="icon" href="{%static 'icone.png' %}">
		<link rel="stylesheet" href="{%static 'siteoitava.css' %}">
    </head>
    <body>
	 <aside class="navegacao-site">
	 <nav>
	  <ul class="icones-redes-sociais">
		<li><a href="index.html">Home</a></li>
        <li><a href="portfolio.html">Portfolio</a></li>
		<img src="../static/github.png" alt="Github">
        <li><a href="bio.html">Sobre mim</a></li>
		<img src="../static/twitter.png" alt="Twitter">
        <li><a href="blog.html">Blog</a></li>
        <li><a id="paulosantos" href="contato.html">Contato</a></li>
		<img src="../static/linkedin.png" alt="LinkedIn">
      </ul>
	 </nav>
	 </aside>
        <main>
		<h1>Sobre mim:</h1>
			<h1><a href="page">Cadastre-se</a></h1>
			<h1><a href="cadastro">Cadastro FORM</a></h1>
			<h1><a href="lista">Listar Clientes</a></h1>
		   <p>Sou Analista de Sistemas formado pelo <a href ="http://www.ifpi.edu.br" id="identificacaodatag" >Instituto Federal do Piauí</a>. Atualmente atuo como docente na mesma instituição que me formou. Curto fazer amizades e ajudar o próximo.</p>
        <center><img src="{%static 'eu.jpg' %}" alt="Foto do autor do site(Robson Freitas), deitado e olhando para a câmera de fotografia sem camisa e sobre uma cama."></center>
		</main>
		<h1>Onde moro:</h1>
		   <p>Moro no eixo Floriano-Oeiras. Gosto muito das duas cidades e me sinto em casa em qualquer uma delas. Na minha profissão gosto dos desafios, embora as vezes fique nervoso com o desconhecido.</p>
        <audio src="" controls></audio>
        <video src="../static/Heithor.mp4" controls></video>
        <h2>No trabalho:</h2>
		   <p>Atualmente ministro a disciplina de Introdução a Programação para WEB. É uma disciplina legal, e que acredito, de fácil entendimento pelos alunos. 
		   O que os alunos devem observar são os detalhes da linguagem e serem bem perfeccionistas.
		   <a href="textoprimeiraaula.html">Nesse link você pode conferir um dos exemplos da sala de aula.</a></p>
        <h2>Sobre o trabalho:</h2>
		   <p id="paragrafo">No meu trabalho eu procuro orientar bem meus alunos e além de ensinar as técnicas, procuro estimular o bom relacionamento social.</p>
		   <footer>&copy Página de Robson Freitas, todos os direitos reservados.</footer>
    </body>
</html>
